<style>
    .container {
        margin: 0;
        max-width: 100%;
        padding: 0;
        display: grid;
    }

    .landing {
        margin: 0;
        position: relative;
        background-color: #515c3a;
        color: white;
        height: 200px;
        width: 100%;
        text-align: center;
    }

    .contacttext {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .btn-primary {
        background-color: #515c3a;
        border: none;
    }

    .btn-primary:hover {
        background-color: grey;
    }
</style>
<div class="container">
    <div class="landing">
        <h1 class="contacttext">Contact</h1>
    </div>
    <div style="margin: auto; width: 75%; display:flex; float: left;" class="container">
        <div style="width: 50%;" class="container">
            <img src="/img/blackT.png" width="200" height="auto" />
            <br>
            <a href="tel:+6193025587">619.302.5587</a>
            <br>
            <a href="mailto:info@chronicsociety.com">info@chronicsociety.com</a>
        </div>
        <form style="width: 50%;">
            <div class="form-group">
                <label for="name">Name: </label>
                <input class="form-control" type="name" ng-model="user.email" name="fname" id="fname" />
            </div>
            <div class="form-group">
                <label for="name">Email: </label>
                <input class="form-control" type="name" ng-model="user.email" name="lname" id="lname" />
            </div>
            <div class="form-group">
                <label for="email">Message: </label>
                <input style="height: 100px;" class="form-control" type="email" ng-model="user.email" name="email" id="email" />
            </div>
            <!-- Needs Backend -->
            <button ng-click="-----" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>