<style>
        .btn-primary {
          background-color: #515c3a;
          border: none;
        }
        .btn-primary:hover {
          background-color: grey;
        }
        .signup {
          color: #515c3a; 
          text-decoration-color: #515c3a;
        }
        .jumbotron {
          color:#515c3a;
          background-color: white;
        }
      </style>
<div class="jumbotron text-center" style="border-radius: 0px;">
    <h1>Log In</h1>

    <p>{{ text }}</p>
</div>
<div class="container">
    <form class="form">
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" type="email" ng-model="user.email" name="email" id="email" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" ng-model="user.password" name="password" id="password" />
        </div>
        <!-- <a href="/#/recordings"></a> -->
            <button ng-click="login(user)" class="btn btn-primary">Log In</button> 
            <a class="signup" href="/#!/signup"> Sign Up</a>
        <!-- </a> -->
    </form>

</div>

<div class="container text-center">
        <h5><i>{{err}}</i></h5>
</div>